<mat-card>
  <mat-card-title>Cadastro de Vagas</mat-card-title>
  <mat-card-content>
    <form class="main-form" appearance="fill">
      <mat-form-field class="form-full-width">
        <mat-label>Descrição</mat-label>
        <input matInput placeholder="Descrição">
      </mat-form-field>

      <mat-form-field class="form-full-width">
        <mat-label>Requisitos obrigatorios</mat-label>
        <input matInput placeholder="Requisitos obrigatorios">
      </mat-form-field>

      <mat-form-field class="form-full-width">
        <mat-label>Remuneração</mat-label>
        <input matInput placeholder="Remuneração">
      </mat-form-field>

      <mat-form-field class="form-full-width">
        <mat-label>Banefícios</mat-label>
        <input matInput placeholder="Benefícios" >
      </mat-form-field>

      <mat-form-field class="form-full-width">
        <mat-label>Local de trabalho</mat-label>
        <input matInput placeholder="Local de trabalho" >
      </mat-form-field>
      <button class="btn btn-primary">Salvar</button>
    </form>
  </mat-card-content>
</mat-card>
